.LandingMiddle {
    padding: 30px 150px;
    // text-align: center;

    p {
        font-size: 1.2rem;
        line-height: 28px;
        color: rgb(46, 46, 46);
        text-align: left;
    }

    img {
        margin: 30px auto;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}
