.MainSideBar {
    width: 15vw;
    background-color: brown;
    height: 100vh;
    padding: 10px;
    text-align: center;
    li {
        list-style: none;
        padding: 10px;
        margin: 10px auto;
    }
}
