.MainHeader {
    position: fixed;
    top: 0px;
    height: 40px;
    width: 100vw;
    border: solid 1px rgb(194, 194, 194);
    background-color: white;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;

    span {
        margin-left: 20px;
        margin-top: 7px;
        font-size: 1.3rem;
    }
}

#drop {
    height: 20px;
    padding: 5px 30px;
    margin-left: 100px;
    margin-top: 4px;
    list-style: none;
    border: solid 1px rgb(184, 184, 184);
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}

#drop:hover .list {
    display: inline;
}

.list {
    display: none;
    position: absolute;
    top: 32px;
    left: -25%;
    width: 150%;
    background-color: white;
    padding: 10px 0px;
    border: solid 1px rgb(189, 189, 189);
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(199, 199, 199);
    li {
        padding: 5px;
        cursor: pointer;
    }
    li:hover {
        background-color: rgb(204, 204, 204);
    }
    li:hover .list2 {
        display: block;
    }
}

.list2 {
    display: none;
    position: absolute;
    top: 12px;
    left: 100%;
    width: 50%;
    background-color: white;
    padding: 10px 0px;
    border: solid 1px rgb(189, 189, 189);
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(199, 199, 199);
    li {
        padding: 5px;
        cursor: pointer;
    }
    li:hover {
        background-color: rgb(204, 204, 204);
    }
    li:hover .list3 {
        display: block;
    }
}
.list3 {
    display: none;
    position: absolute;
    top: 12px;
    left: 100%;
    width: 50%;
    background-color: white;
    padding: 10px 0px;
    border: solid 1px rgb(189, 189, 189);
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(199, 199, 199);
    li {
        padding: 5px;
        cursor: pointer;
    }
    li:hover {
        background-color: rgb(204, 204, 204);
    }
}

.two {
    top: 40px;
}

.my_acc {
    height: 20px;
    padding: 5px 30px;
    // margin-left: 100px;
    margin-top: 4px;
    list-style: none;
    border: solid 1px rgb(184, 184, 184);
    border-radius: 15px;
    position: absolute;
    right: 200px;

    cursor: pointer;
}

.my_acc:hover .list {
    display: inline;
}
